<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Activa Ya! </title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-topBar">
           <a href="/home"><img src="/img/ActivaYAAAAA___1_-removebg-preview-removebg-preview.png" class="logo"></a>
           <div class="buscar"> 
            <input type="search" id="buscador" value="Buscar productos"> 
            <i class="fa-solid fa-search"></i>
            </div>
           <!-- <ul>
           <li class="sesion">
            <a href="/login">Iniciar Sesion <i class="fa-solid fa-address-card"></i></a>
              
           </li>
           <li class="carrito">
            <a href="/shop">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
            
           </li>
        </ul> -->
        </div>
        <!-- <a href="#" class="hamburguer-button"> -->
          <input type="checkbox" id="hamburguer-button">
            <label class="fa-solid fa-bars" for="hamburguer-button"></label>
            <!-- <i class="fa-solid fa-bars"></i> -->
        <nav class="main-navbar">
          <ul class="bottom-navBar">
            <!-- <li> <a href="#">Marcas</a></li> -->
            <li> <a href="/products">Productos</a></li>
            <li> <a href="/register">Registrarse</a></li>
            <li> <a href="/login">Cuenta</a></li>
            <li> <a href="/aboutUs">Crear</a></li>
            <li> <a href="/shop"> <i class="fa-solid fa-cart-shopping"></i></a></li>
              
              
          </ul>
        </nav>
    </header>
    <body>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officia quaerat dolor. Hic animi excepturi velit repudiandae impedit blanditiis consequatur est natus tempora adipisci! Commodi a laborum nihil alias eaque.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab nisi quasi autem doloremque placeat architecto, ducimus perspiciatis velit voluptas ex aspernatur a dicta ipsam voluptatem cum delectus dolore fugiat in.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A sint, quasi veritatis impedit corrupti cum iure sed reiciendis dolor veniam nam commodi itaque consequuntur quia officiis, dolorem porro eligendi laborum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus qui modi numquam est, facilis tempora hic quae. Eligendi necessitatibus, qui quas officiis voluptate deleniti, facere accusantium, ducimus tempora expedita itaque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eos totam quisquam doloremque labore similique recusandae tenetur assumenda delectus ipsum eveniet eligendi, aut vitae, laudantium earum facilis necessitatibus enim quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam tempora autem nam ut sunt ipsam necessitatibus, quasi minima culpa nostrum doloremque vitae unde iste quod officia facere. Quidem, laudantium illo.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, error explicabo repellendus corporis provident inventore ut odit cupiditate doloribus neque repellat dignissimos veniam, quo hic soluta vero reprehenderit repudiandae doloremque.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque similique iste, ab, expedita exercitationem tempora adipisci praesentium in sequi sed dicta eum suscipit officia velit enim atque aliquid voluptatem asperiores.
        
    </body>