<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Activa Ya! </title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-topBar">
           <a href="/home"><img src="/img/ActivaYAAAAA___1_-removebg-preview-removebg-preview.png" class="logo"></a>
           <div class="buscar"> 
            <input type="search"  id="buscador" value="Buscar productos"> 
            <i class="fa-solid fa-search"></i>
            </div>
            
           <!-- <ul>
           <li class="sesion">
            <a href="/login"><i class="fa-solid fa-address-card"></i></a>
              
           </li>
           <li class="carrito">
            <a href="/shop"><i class="fa-solid fa-cart-shopping"></i></a>
            
           </li>
        </ul> -->
      
        </div>
        <!-- <a href="#" class="hamburguer-button"> -->
            <input type="checkbox" id="hamburguer-button">
            <label class="fa-solid fa-bars" for="hamburguer-button"></label>
            <!-- <i class="fa-solid fa-bars"></i> -->
             </a>
        <nav class="main-navbar">
          <ul class="bottom-navBar">
            <!-- <li> <a href="#">Marcas</a></li> -->
            <li> <a href="/products">Productos</a></li>
            <li> <a href="/register">Registrarse</a></li>
            <li> <a href="/login">Cuenta</a></li>
            <li> <a href="/aboutUs">Crear</a></li>
            <li> <a href="/shop"> <i class="fa-solid fa-cart-shopping"></i></a></li>
          </ul>
        </nav>
    </header>
    <body>
      <section class="main-section">
        <div class="slider">
            <ul>
            
            <li><img src="/img/Slider-3-Cuotas.png" alt=""></li>
            <li><img src="/img/Slider-Heineken.png" alt=""></li>
            <li><img src="/img/SaltaCautiva-slider.png" alt=""></li>
            <li><img src="/img/Schneider-slider.png" alt=""></li>
            
            </ul>
        </div>
      </section>
      <main class="main-products">
        <div class="products-container">
          <h1>OFERTONES</h1>
          <section class="products">
            <a href="/products"><div class="main-article">
              <img src="/img/Antares-Barleywine.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Barley Wine </h3>
                <span class="price">$230</span>
              </div>
            </div></a>
            <a href="/products"><div class="main-article">
              <img src="/img/Antares-caravana.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Caravana</h3>
                <span class="price">$230</span>
              </div>
            </div></a>
            <a href="/products"><div class="main-article">
              <img src="/img/Antares-Barleywine.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">CuatroTres</h3>
                <span class="price">$230</span>
              </div>
            </div></a>
            <a href="/products"><div class="main-article">
              <img src="/img/Antares-caravana.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Caravana</h3>
                <span class="price">$230</span>
              </div>
            </div></a>
            </div>
          </section>
        </div>
      </main>
      <main class="main">
        
        <section id="info">
            <h3>Nuestras marcas mas vendidas</h3>
            <div class="contenedor">
                <div class="info-marcas">
                    <img src="/img/heineken-removebg-preview.png" alt="">
                    <!-- <h4>Heineken</h4> -->
                </div>
                <div class="info-marcas">
                    <img src="/img/logo-antares-removebg-preview.png" alt="">
                    <!-- <h4>Antares</h4> -->
                </div>
                <div class="info-marcas">
                    <img src="/img/Jack-Daniels-blanco-removebg-preview.png" alt="">
                    <!-- <h4>Jack Daniels</h4> -->
                </div> 
                <div class="info-marcas">
                    <img src="/img/ron-zacapa-centenario-logo-vector-removebg-preview.png" alt="">
                    <!-- <h4>Zacapa</h4> -->
                </div>
                <div class="info-marcas">
                  <img src="/img/Miller.logo-removebg-preview.png" alt="">
                  <!-- <h4>Miller</h4> -->
                </div>
                <div class="info-marcas">
                <img src="/img/Stella-Logo-removebg-preview.png" alt="">
                <!-- <h4>Stella Artois</h4> -->
                </div>
                <div class="info-marcas">
                <img src="/img/johnnie-walker-logo.png" alt="">
               <!-- <h4>Johnnie Walker</h4> -->
                </div>
                <div class="info-marcas">
                <img src="/img/Smirnoff-Logo.png" alt="">
                <!-- <h4>Smirnoff</h4> -->
                </div>          
            </div>
        </section>               
        <footer class="footer">
          <div class="container">
            <div class="containerUnico">
              <div class="footer-colums">
                <h4>Activa Yá</h4>
                <ul>
                  <li><a href="#">Nosotros</a></li>
                  <li><a href="#">Nuestro Servicios</a></li>
                  <li><a href="#">Politicas de privacidad</a></li>
                  
                </ul>
              </div>
              <div class="footer-colums">
                <h4>Ayuda</h4>
                <ul>
                  <li><a href="#">Pagos</a></li>
                  <li><a href="#">Envios</a></li>
                  <li><a href="#">Devoluciones</a></li>
                  <li><a href="#">FAQ</a></li>
                  
                </ul>
              </div>
              <div class="footer-colums">
                <h4>Tienda</h4>
                <ul>
                  <li><a href="#">Cervezas</a></li>
                  <li><a href="#">Vinos</a></li>
                  <li><a href="#">Destilados</a></li>
                  <li><a href="#">Snacks</a></li>
                </ul>
              </div>
              <div class="footer-colums">
                <h4>Seguinos!</h4>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
       </footer>
        <small class="footer-small">ActivaYa - 2022. Todos los derechos reservados.</small>

    </main>
    </body>
</body>
</html>