<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Activa Ya! </title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-topBar">
           <a href="/home"><img src="/img/ActivaYAAAAA___1_-removebg-preview-removebg-preview.png" class="logo"></a>
           <div class="buscar"> 
            <input type="search"> <i class="fa-solid fa-search"></i>
            </div>
           <!-- <ul>
           <li class="sesion">
            <a href="/login">Iniciar Sesion <i class="fa-solid fa-address-card"></i></a>
              
           </li>
           <li class="carrito">
            <a href="/shop">Carrito<i class="fa-solid fa-cart-shopping"></i></a>
            
           </li>
        </ul> -->
        </div>
        <!-- <a href="#" class="hamburguer-button"> -->
          <input type="checkbox" id="hamburguer-button">
            <label class="fa-solid fa-bars" for="hamburguer-button"></label>
            <!-- <i class="fa-solid fa-bars"></i> -->
             </a>
        <nav class="main-navbar">
          <ul class="bottom-navBar">
            <!-- <li> <a href="#">Marcas</a></li> -->
            <li> <a href="/products">Productos</a></li>
            <li> <a href="/register">Registrarse</a></li>
            <li> <a href="/login">Cuenta</a></li>
            <li> <a href="/aboutUs">Crear</a></li>
            <li> <a href="/shop"> <i class="fa-solid fa-cart-shopping"></i></a></li>
          </ul>
        </nav>
    </header>
    <body>
      <section class="main-section">
        <div class="slider">
            <ul>
            
            <li><img src="/img/Slider-3-Cuotas.png" alt=""></li>
            <li><img src="/img/Slider-Heineken.png" alt=""></li>
            <li><img src="/img/SaltaCautiva-slider.png" alt=""></li>
            <li><img src="/img/Schneider-slider.png" alt=""></li>
            <!-- <li><img src="/img/slider-JWalker.png" alt=""></li> -->
            </ul>
        </div>
      </section>
      <main class="main-products">
        <div class="products-container">
          <h1>Cervezas Premium</h1>
          <section class="products">
            <div class="main-article">
              <img src="/img/Antares-Barleywine.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Barley Wine</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Antares-caravana.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Caravana</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Antares-CuatroTres.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">CuatroTres</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Antares-ElCentinela.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">El Centinela</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Antares-imperialStaut.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Imperial Staut</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Antares-kolsch.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Kolsch</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Antares-Catalina.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Catalina la Grande</h3>
                <span class="price">$230</span>
              </div>       
            </div>
            <div class="main-article">
              <img src="/img/Antares_HoneyBeer.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Honey Beer</h3>
                <span class="price">$230</span>
              </div>       
            </div>
          </section>
        </div>
      </main>
      <main class="main-products">
        <div class="products-container">
          <h1>Cervezas Rubias</h1>
          <section class="products">
            <div class="main-article">
              <img src="/img/Antares-Barleywine.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Barley Wine</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/heineken-original-bottle.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Heineken</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Miller-Lata.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Miller Lata</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Corona-710.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Corona 710</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Antares-imperialStaut.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Imperial Staut</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Quilmes.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Quilmes</h3>
                <span class="price">$230</span>
              </div>
            </div>
            <div class="main-article">
              <img src="/img/Antares-Catalina.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Catalina la Grande</h3>
                <span class="price">$230</span>
              </div>       
            </div>
            <div class="main-article">
              <img src="/img/Antares_HoneyBeer.png" alt="" class="product-img">
              <div class="product-description">
                <h3 class="product-title">Honey Beer</h3>
                <span class="price">$230</span>
              </div>       
            </div>