<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Activa Ya! </title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-topBar">
           <a href="/home"><img src="/img/ActivaYAAAAA___1_-removebg-preview-removebg-preview.png" class="logo"></a>
           <div class="buscar"> 
            <input type="search"> <i class="fa-solid fa-search"></i>
            </div>
          
        </div>
        
          <input type="checkbox" id="hamburguer-button">
            <label class="fa-solid fa-bars" for="hamburguer-button"></label>
            
        <nav class="main-navbar">
          <ul class="bottom-navBar">
            
            <li> <a href="/products">Productos</a></li>
            <li> <a href="/register">Registrarse</a></li>
            <li> <a href="/login">Cuenta</a></li>
            <li> <a href="/aboutUs">Crear</a></li>
            <li> <a href="/shop"> <i class="fa-solid fa-cart-shopping"></i></a></li>
          </ul>
        </nav>
    </header>
    <main>
      <div class="Conteiner1">
          <div class="Conteiner2A">
              <div class="Conteiner3A">
                  <h5>Producto</h5>
                  <div class="Conteiner4A">
                      <img src="/img/Antares-caravana.png">
                      <p> Cerveza Antares 473 ML</p>
                  </div>
              </div>
              <div class="Conteiner5A">
                  <h5>Cantidad</h5>
                  <div class="cantidadButton">
                      <button type="button">-</button>
                      <input type="text" required="" pattern="[0-9]+" placeholder="0">
                      <button type="button">+</button>
                  </div>
              </div>
              <div class="Conteiner5B">
                  <h5>Precio</h5>
                  <h3>$230</h3>
              </div>
          </div>

          <div class="Cointener2B">
              <h4 class="totalPedido">Total del Pedido</h4>
              <div class="Conteiner4B">
                  <h4>Total a pagar: $230</h4>
              </div>
              <div class="Conteiner4C">
                  <input class="buttonCupon" type="text" placeholder="Cúpon Descuento">
                  <button type="text">Confirmar Compra</button>
              </div>
          </div>
      </div>
  </main>
    
    <body>